<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Visualizar Agenda</title>
</head>
<body>
    <header>
        <h1>Visualizar Agenda</h1>
    </header>
    <main>
        <section id="viewScheduleSection">
            <h2>Agenda de Consultas</h2>
            <div id="calendar"></div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Belezza Delicata</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.2/main.min.js"></script>
    <script src="/public/js/script.js"></script>
</body>
</html>
